<header class="bg-indigo-900/90 p-4" data-controller="hello">
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <div class="flex gap-10 items-center">
        <a href="/" class="text-white font-semibold text-xl uppercase" aria-label="AZ Studio">
        AZ Studio
        </a>
        <div class="hidden lg:block">
          <label for="searchInput" class="hidden">Search</label>
          <input
            id="searchInput"
            type="text"
            placeholder="Search..."
            class="bg-white rounded-md p-2 focus:outline-none"
            >
        </div>
      </div>
      <div class="hidden lg:flex space-x-4">
        <a href="/" class="text-white hover:text-blue-200">Home</a>
        <a href="/products" class="text-white hover:text-blue-200">Products</a>
        <a href="/contact" class="text-white hover:text-blue-200">Contact</a>
      </div>
      <div class="lg:hidden">
        <button aria-label="Toggle navigation" class="text-white focus:outline-none">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path
              d="M4 6h16M4 12h16M4 18h16"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              />
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>