<div class="bg-white text-black h-screen w-2/3 flex flex-col text-lg font-medium p-5 shadow-xl max-w-xs  duration-100 ease-out animate-modal">
  <div class="flex items-center gap-4">
    <h2 class="uppercase text-2xl font-bold">AZ Merch</h2>
  </div>
  <ul class="flex flex-grow flex-col gap-1 py-4">
    <li><a href="/" class="hover:bg-gray-200 flex flex-grow py-1">Home</a></li>
    <li><a href="/products" class="hover:bg-gray-200 flex flex-grow py-1">Products</a></li>
    <li><a href="/contact" class="hover:bg-gray-200 flex flex-grow py-1">Contact</a></li>
    <li><a href="/contact" class="hover:bg-gray-200 flex flex-grow py-1">Checkot</a></li>
  </ul>
</div>