@import "tailwindcss/base";
@import "swiper";
@import "swiper.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Anton&family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&family=Black+Ops+One&family=Kablammo&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&family=Kablammo&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&family=Black+Ops+One&family=Kablammo&family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

@keyframes modalTranslateIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-modal {
  animation: modalTranslateInAndOut 0.3s ease-in-out;
}
